<% layout("/layouts/boilerplate") -%>
<div class="row">
<div class="col-8 offset-2 mt-3">
    <h2>Edit Your Listing</h2>
    <form method="post" action="/listing/<%= listingData._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listingData.title %>" class="form-control" required>
            <div class="invalid-feedback">Please Enter title</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listingData.description %></textarea>
            <div class="invalid-feedback">Please Enter Short Description</div>

        </div>
        <div class="mb-3">
            Original Image <br>
          <img src="<%= originalImage %>" style=" width: -webkit-fill-available;" >
        </div><br>
         <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" class="form-control">

        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" class="form-control" value=<%=listingData.price %> required >
            <div class="invalid-feedback"> Enter a valid Price !!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" class="form-control" value="<%=listingData.country %>" class="form-control" required >
            <div class="invalid-feedback">Please Enter Country !!</div>

            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" value="<%=listingData.location %>" required >
            <div class="invalid-feedback">Please enter Location !!</div>
        </div>
        <button class="btn btn-dark add-btn mt-3 mb-3">EDIT</button>
    </form>
    </div>
    </div>